
#analyser-container {
  margin-bottom: 24px;
  display: flexbox;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  
  /*position: relative;*/
  border-radius: 12px;
  background: var(--yt-spec-badge-chip-background);
  min-width: 100%;
  min-width: max(381px,50% - 12px);
  flex: 1;
  flex-basis: 1e-9px;
  font-family: "Roboto","Arial",sans-serif;
  font-size: 1.4rem;
  line-height: 2rem;
  font-weight: 400;
}

.analysis-horizontal-flex {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-evenly;
  width: 100%;
}

.analyser-text {
  color: var(--yt-spec-text-primary);
}

.analyser-header-text {
  /*font-family: "Roboto","Arial",sans-serif;
  font-size: 2rem;
  line-height: 2.8rem;
  font-weight: 700;
  white-space: normal;*/
  
  vertical-align: middle;
  font-family: "Roboto","Arial",sans-serif;
  font-size: 1.6rem;
  line-height: 2.2rem;
  font-weight: 400;
}

.analyser-content-text {
  vertical-align: middle;
  font-family: "Roboto","Arial",sans-serif;
  font-size: 1.2rem;
  line-height: 2.2rem;
  font-weight: 400;
}

/*.analysis-data-container {
  
}*/
