
#analyser-container {
  margin-bottom: 24px;
  display: flexbox;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  
  /*position: relative;*/
  border-radius: 12px;
  background: var(--yt-spec-badge-chip-background);
  min-width: 100%;
  min-width: max(381px,50% - 12px);
  flex: 1;
  flex-basis: 1e-9px;
  font-family: "Roboto","Arial",sans-serif;
  font-size: 1.4rem;
  line-height: 2rem;
  font-weight: 400;
  
  padding: 10px;
}

.analysis-horizontal-flex {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-evenly;
  width: 100%;
  margin-top: 1em;
  margin-bottom: 1em;
}

.analyser-text {
  color: var(--yt-spec-text-primary);
}

.analyser-header-text {
  /*font-family: "Roboto","Arial",sans-serif;
  font-size: 2rem;
  line-height: 2.8rem;
  font-weight: 700;
  white-space: normal;*/
  
  vertical-align: middle;
  font-family: "Roboto","Arial",sans-serif;
  font-size: 1.6rem;
  line-height: 2.2rem;
  font-weight: 400;
}

.analyser-content-text {
  vertical-align: middle;
  font-family: "Roboto","Arial",sans-serif;
  font-size: 1.2rem;
  line-height: 2.2rem;
  font-weight: 400;
}



#analysis-sentiment-display{
  display: flex;
  flex-direction: row;
}

.analysis-circle-container {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #1c232b;
  font-weight: bold;
  background-color: #fff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
}

.analysis-circle-container > span {
  font-size: 18px;
}

.analysis-ring {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 0;
  left: 0;
  transform: rotate(-90deg);
  z-index: 1;
}

.analysis-circle {
  fill: none;
  stroke-width: 10px;
  stroke-dasharray: 251.2;
  stroke-dashoffset: 0;
  transition: stroke-dashoffset 1s ease-in-out;
}

.analysis-circle-green {
  stroke: #2ecc71;
}

.analysis-circle-yellow {
  stroke: #f1c40f;
}

.analysis-circle-red {
  stroke: #e74c3c;
}



#analysis-emotion-display {
  display: flex;
  align-content: center;
  align-items: center;
  flex-wrap: nowrap;
  height: 100%;
  flex-direction: column;
  justify-content: center;
}

#analysis-emotion-text {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.2;
  display: block;
  text-align: center;
}

