/* popup.css */

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  color: #fff;
  text-align: center;
  background-color: #1c232b;
  overflow: hidden;
}

.popup-container {
  width: 400px;
  margin: 0 auto;
  border-radius: 15px;
  color: #fff;
  background-color: #1c232b;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
}

.circle-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
}

.circle-text {
  font-size: 15px;
  margin-left: 30px;
  text-align: left;
}

.circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #1c232b;
  font-weight: bold;
  background-color: #fff;
  position: relative;
}

.circle span {
  font-size: 18px;
}

.ring {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 0;
  left: 0;
  transform: rotate(-90deg);
  z-index: 1;
}

circle {
  fill: none;
  stroke-width: 10px;
  stroke-dasharray: 251.2;
  stroke-dashoffset: 0;
}

.green circle {
  stroke: #2ecc71;
}

.red circle {
  stroke: #e74c3c;
}

.yellow circle {
  stroke: #f1c40f;
}

/* Labels for the bar chart */
.label {
  display: inline-block;
  width: 80px;
  text-align: right;
  margin-right: 10px;
  font-weight: bold;
}

/* Bar chart */
.bar-chart {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}

.bar {
  height: 20px;
  margin: 5px 0;
  border-radius: 5px;
}

/* Progress bar */
.progress-bar {
  width: 100%;
  height: 30px;
  background-color: #ddd;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  position: relative;
}

.filler {
  height: 100%;
  background-color: #fe3527;
  position: absolute;
  top: 0;
  left: 0;
}

/* Progress label */
.progress-label {
  margin-top: 10px;
  color: #fff;
  font-weight: bold;
  text-align: center;
  font-size: 15px;
}
