* {
	box-sizing: border-box;
}

body {
	font-family: "Roboto", sans-serif;
	background-image: url("background.jpg");
	background-size: cover;
	margin: 0;
	padding: 0;
	color: #f7f7f7;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	overflow: hidden;
}

.container {
	background: rgba(28, 35, 43, 0.9);
	padding: 20px;
	border-radius: 10px;
	width: 100%;
	max-width: 500px;
}

h3 {
	text-align: center;
}

a {
	text-decoration: none;
	color: #cee1f5;
}
a:hover {
	color: rgb(129, 159, 185);
}

#videoId {
	display: block;
	width: 100%;
	border: none;
	border-radius: 4px;
	padding: 10px;
	margin: 20px 0;
}

button {
	display: block;
	width: 100%;
	border: none;
	background: rgba(28, 35, 43);
	color: #f7f7f7;
	padding: 10px;
	border-radius: 4px;
	cursor: pointer;
}

button:hover {
	background: #555;
}
